<div class="container-fluid text-center">
  <h1>We're Preparing Your Songs.</h1>
  <h2>Press "Load" to see them.</h2>
</div>

<div class="text-center">
<%= link_to "Load", swipes_path, :class => 'btn btn-lg btn-info text-center' %>
</div>
