<div class="jumbotron text-center">
  <h1>It seems you've ran into an error.</h1>
  <h2>We're sorry. It looks like we're experiencing too much traffic right now. Please try again later.</h2>
</div>

<%= link_to "Home", root_path %>
